.session {
  margin: 50px;
}

.card-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-position {
  text-align: left;

  height: 250px;

  .modal-show{
    margin-top: 45px;
  }
}

.img-fluid {
  height: 400px; /* or any desired height */
  width: 100%; /* Adjust width as needed, 100% makes it responsive */
  object-fit: cover; /* This prevents stretching */
}
